@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
body{
    text-align: center;    
    
    width: 1160px;
    margin:auto;
}
header{
    background-color: #782221 ;
}
nav{
    background-color:#2c1d27;
    padding:1% ;
}
nav ul {
    display: flex;
    flex-direction:row;
    justify-content:space-between;
}
main {
    text-align: left;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:0px;
    grid-auto-rows: minmax(100px, auto);
    background-color: #782221 ;
}
#p1{
    grid-column: 1 / span 1;
    grid-row: 1;
    background-color: #782221 ;
}
#p2{
    grid-column: 2 / span 2;
    grid-row: 1 / span 1;
    background-color: white;
    border-right:1px solid black;
}

footer{
    padding: 1%;
    background-color: #782221 ;
}
#photo{
    margin-top: 2%;
    clip-path:ellipse(50% 50%);
}